<!DOCTYPE html>
<html>
<head>
  <title>Papamaman</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i> Papamaman</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <% if user_signed_in? %>
        <li><a href="#">Profile</a></li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <% if user_signed_in? %>
        <li><a href="/users/sign_out">Logout</a></li>
    <% else %>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/users/sign_up">Sign up</a></li>
    <% end %>
  </ul>
</div>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div ng-view class="fadeZoom"></div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
