<!DOCTYPE html>
<html ng-app="papamaman">
<head>
  <title>Papamaman</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i> Papamaman</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/#/profile">Profile</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a href="/#/logout">Logout</a></li>
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
</div>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div ng-view class="fadeZoom"></div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
